#HomeContainer {
    background-image: url("../../images/Home.png");
    background-size: cover;
    background-position: 0% 30%;
    background-color: black;
    background-repeat: no-repeat;
    width:100%;
    margin: 0 0;
    
}

#HomeContainer h3, #HomeContainer p {
    max-width: 30%;
    min-width: 415px;
}