#AboutContainer {
    background-image: url("../../images/About.jpg");
    background-size: cover;
    background-position: 0% 30%;
    background-color: black;
    background-repeat: no-repeat;
    width:100%;
    margin: 0 0;
}
#AboutContainer .first {
    /* align-items:flex-end; */
    text-align: end;
    margin-left: auto;
    margin-right: 3em;
}
#AboutContainer .second {
    text-align: start;
    margin-left: 3em;
    margin-right: auto;
<<<<<<< Updated upstream
=======
}

.timeline {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
}

.grip {
    margin-left: auto;
    margin-right: auto;
    height: 12vh;
>>>>>>> Stashed changes
}