.top-to-btm{
    position: relative;
  }
  .icon-position{
    position: fixed;
    bottom: 3em;
    right: 2em;
    z-index: 200;
  }
  .icon-style{
    background-color: whitesmoke;
    border: 2px solid #2E374D;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: #2E374D;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: whitesmoke;
    color: #967a2d;
    border: 2px solid #967a2d;
  }
